<!DOCTYPE html>
<html>
  <head>
    <title>ActionChat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.min.css" rel="stylesheet"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
